body {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.iphone {
    display: flex;
    margin:auto;
    border:10px solid black;
    border-radius:40px;
    width: 320px;
    height: 90vh;
    position:relative;
    box-shadow:0px 20px 15px #33333335;
    background-color: black;
}
.notch {
    z-index: 50;
    top: -1px;
    left: 62px;
    position: absolute;
    background: #000000;
    width: 200px;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
}
.camera{
    position: absolute;
    bottom: 8px;
    right: 20px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: .2rem solid #1e1f22;
    background: #447bb5a6;
}
.speaker{
    position: absolute;
    right: 3.9rem;
    width: 5.2rem;
    height: .6rem;
    background: #333;
    border-radius: .2rem;
}
.call-success {
    display: none;
    width: 100%;
    height: 100%;
}
.call-text {
    width: 75%;
    height: 50%;
    background-color: black;
    border-radius: 20px;
    margin: 25% auto;
    color: white;
}
.end-call {
    width: 4em;
    height: 4em;
    display: block;
    margin: auto;
}
.before-call {
    display: block;
    width: 100%;
    height: 100%;
}
.contact-text {
    position: relative;
    color: white;
    font-size: 2.3em;
    font-weight: bold;
    top: 30px;
    left: 15px;
}
.contact-search {
    position: relative;
    top: 50px;
    background-color: #333;
    padding: 10px;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.fa.fa-search {
    color: lightgray;
}
.search-text {
    color: lightgray;
}
.name-card {
    color: white;
    margin-top: 80px;
    margin-left: 15px;
}
.name-icon {
    background-color: gray;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 60px;
}
.name-text {
    margin-left: 10px;
}
.contacts {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}
.contact-name {
    border-top: 1px solid #333;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
}
.contact-name:hover {
    background-color: #0062cc;
}
.navigation {
    display: flex;
    background-color: #333;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 30px 30px;
    justify-content: space-around;
}
.navigation li {
    display: inline;
}
.navigation ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.fas {
    color: gray;
}
.fas.fa-user-circle {
    color: #0062cc;
}
.loading-page {
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.loading-text {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}