<!DOCTYPE html>
<html>
    <head>
        <title>Live </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="src/view/style.css">
    </head>
    <body>
        <div class="iphone">
            <div class="screen"></div>
            
            <!-- Before Call -->
            <div class="before-call">
                <div class="contact-text">Contacts</div>
                <div class="contact-search">
                    <i class="fa fa-search"></i>
                    <span class="search-text">Search</span>
                </div>
                <div class="name-card">
                    <span class="name-icon">GK</span>
                    <span class="name-text">George KLUE니</span>
                </div>
                <div class="contacts">
                    <div class="contact-name">Park Issac</div>
                    <div class="contact-name">Kim Boseong</div>
                    <div class="contact-name">Jung Doohae</div>
                    <div class="contact-name">Kim Hyesu</div>
                    <div class="contact-name">Jeon Miwon</div>
                    <div class="contact-name">Kim JIHOO</div>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><i class="fas fa-star" style="font-size: 35px;"></i></li>
                        <li><i class="fas fa-history" style="font-size: 35px;"></i></li>
                        <li><i class="fas fa-user-circle" style="font-size: 35px;"></i></li>
                        <li><i class="fas fa-keyboard" style="font-size: 35px;"></i></li>
                        <li><i class="fas fa-tv" style="font-size: 35px;"></i></li>
                    </ul>
                </nav>
            </div>

            <!-- Calling -->
            <div class="loading-page">
                <div class="loading-text">Calling...</div>
            </div>

            <!-- Call success -->
            <div class="call-success">
                <div class="call-text">
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                    안녕하세요<br>
                </div>
                <img src="/src/view/phone-call.png" class="end-call" />
            </div>

            <div class="notch">
              <div class="camera"></div>
              <div class="speaker"></div>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
          <script src="/src/public/js/uijs.js"></script>
    </body>
</html>